body {
    font-family: "Helvetica", sans-serif;
}

.cat-grid {
    display: flex;
    flex-wrap: wrap;
}

button {
    font-size: 13px;
    color: white;
    background-color: #464646;
    padding: 8px 12px;
    border-radius: 6px;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: 0px;
    cursor: pointer;
}

.generate-button {
    margin: 50px auto;
    display: block;
}