.cat-box {
    margin: 30px;
    width: 200px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .cat-info {
        text-align: center;
        text-transform: capitalize;
    }
    .cat-body {
        white-space: pre;
        font-family: monospace;
        margin: 0 auto;
    }
}