.cat-box {
    margin: 30px;
    width: 200px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 6px;
    padding: 20px;
    &.selected-cat {
        border: 1px solid #0536b7;
    }

    .cat-info {
        text-align: center;
    }
    
    .cat-body {
        white-space: pre;
        font-family: monospace;
        margin: 0 auto;
    }

    .breed-button {
        margin-top: 12px;
        background-color: #2966d0;
        &:disabled {
            background-color: #89a3d2;
        }
    }
}