.rules {
    h1 {
        text-align: center;
    }

    ul {
        margin: 0 auto;
        display: block;
        width: fit-content;
    }

    p {
        margin-bottom: 3px;
        margin-top: 3px;
    }
}